.active{
    color: #2563EB;
    transition: 0.5s;
    display: inline;
}

.active::after{
    display: flex;
    flex-direction: column;
    align-items: center;
    content: "";
    position: absolute;
    /* left: 0; */
    bottom: -10px;
    width: 100%;
    height: 5px;
    background-color: #2563EB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}